<header class="header">
  <div class="container">
    <div class="nav-container">
      <nav class="primary-nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="primary-nav-link" [routerLink]="'/'">home</a>
          </li>

          <li class="nav-list-item">
            <a class="primary-nav-link" [routerLink]="'/about'">about</a>
          </li>

          <li class="nav-list-item">
            <a class="primary-nav-link">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container row2">
    <section class="footer-section">
      <h2 class="subtitle">about our company</h2>

      <p class="footer-section-text">Love 4 code</p>
    </section>
  </div>
</footer>

