<header class="header">
  <div class="container">
    <div class="nav-container">
      <nav class="primary-nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="primary-nav-link">home</a>
          </li>

          <li class="nav-list-item">
            <a class="primary-nav-link">about</a>
          </li>

          <li class="nav-list-item">
            <a class="primary-nav-link">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="main-content">
  <app-homepage></app-homepage>
  <!-- <section class="hero-section">
    <div class="container row2">
      <h1 class="hero-title">
        centric Express <span class="accent">will be fun</span>
      </h1>

      <div class="wrap wrap-bottom">
        <p class="hero-text">this is just a simple container</p>

        <a class="hero-link link-button">i want to learn</a>
      </div>
    </div>
  </section> -->
</main>

<footer class="footer">
  <div class="container row2">
    <section class="footer-section">
      <h2 class="subtitle">about our company</h2>

      <p class="footer-section-text">Love 4 code</p>
    </section>
  </div>
</footer>

<script
  src="https://kit.fontawesome.com/150d9cdc3a.js"
  crossorigin="anonymous"
></script>
